div1{
    background-image: url(https://www.istanbulgercegi.com/uploaded/bilgilendirme/2019/buyuk/kirsehir-belediyesi-sehrin-girisine-ataturkun-post-1569925100.jpg);
    padding: 100%;
    width: 1500px;
    height: 1500px;
    background-repeat: no-repeat;
    float: left;
}